<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Alumni</h1>
  <hr class="divider">

  <table class="table">
    <thead>
      <tr>
        <th class="tablehead thisColor"><strong>Name</strong></th>
        <th class="tablehead thisColor"><strong>Course</strong></th>
        <th class="tablehead thisColor"><strong>Current position</strong></th>
        <th class="tablehead thisColor"><strong>Contact</strong></th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = data.length-1; i >= 0; i--) { %>
        <tr>
          <td><%= data[i].id %>. <%= data[i].name %></td>
          <td><%= data[i].course %></td>
          <td><%= data[i].curpos %></td>
          <td><%= data[i].contact %></td>
          <td><img src="data:image/png;base64,<%=data[i].imaghere%>" alt="" width="200"></td>
        </tr>
        <% } %>
    </tbody>
  </table>

</div>

<%- include("partials/footer"); -%>