<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Invited Talks Delivered</h1>
  <hr class="divider">

  

  <div class="row mb-2">
    <% for (let i = data.length-1; i >= 0; i--) { %>
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Topic: <%= data[i].topic %></h5>
            <br>
            <strong class="d-inline-block mb-2 thisColor1">Event: <%= data[i].event %></strong>
            <strong class="d-inline-block mb-2 thisColor1">On: <%= data[i].date %> </strong>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  
</div>

<%- include("partials/footer"); -%>